<app-header titulo="Alert"></app-header>

<ion-content class="ion-padding">
  <ion-button (click)="presentAlert()" expand="block" >
    Alert simple
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block" >
    Multiple button
  </ion-button>
  <ion-button (click)="presentAlertPrompt()" expand="block" >
    Alert Promp
  </ion-button>
  <ion-button (click)="presentAlertRadio()" expand="block">
    Present alert radio
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()" expand="block">
    Present Alert Checkbox
  </ion-button>
</ion-content>
